<section class="card">
  <a href="/{{isbn}}">
    <header>{{title}}</header>
    {{!-- <div class="card-body">
      <img src="../../public/images/0397319703.jpg" alt="{{description}}"> --}}
      <p>By: {{author}}</p>
    </div>
  </a>
</section>