<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>hompage</title>
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

 <link rel="stylesheet" href="./css/styles.css">
</head>



<body>

   {{#if logged_in}}
   <section class="home">
    <nav class="gray-theme navbar-custom">
      <h1 class="homepage-title pink-text">biblioTECHA</h1>
        <ul class="navlinks">
          
        <li><a href="/">Home</a></li> 
        <li><a href="/profile">Profile</a></li>
        <li><button class="logout-btn btn-block--primary" id="logout">Logout</button></li>
        </ul>
    </nav>
       
        {{else}}
  
    {{!-- <a href = "/profile">profile</a> --}}
    <nav class="gray-theme navbar-custom">
      <h1 class="homepage-title pink-text">biblioTECHA</h1>
        <ul class="navlinks">
        
        <li><a href="/">Home</a></li> 
        <li><a href="/profile">Profile</a></li>
        </ul>
    </nav>
 </section>
        {{/if}}

{{{body}}}

 {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}
</body>

</html>