<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>hompage</title>
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
</head>

<body>
  <header class="display-flex justify-space-between align-center p-2">
   
  </header>
  

  </nav>
  <main>
   {{#if logged_in}}
        <a href = "/">Home</a>
        
        <button class="no-button" id="logout">logout</button>
        {{else}}
      
    <a href = "/profile">profile</a>
        <a href="/login">login</a>
        {{/if}}


   
{{{body}}}
    

 {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}
</body>

</html>