<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>hompage</title>
 
</head>

<body>
  <header class="display-flex justify-space-between align-center p-2">
    <h1>
      Sign In.
    </h1>
  </header>
  

  </nav>
  <main>
   {{#if logged_in}}
        <a href = "/">Home</a>
        <a href="/profile">profile</a> |
        <button class="no-button" id="logout">logout</button>
        {{else}}
        
        <a href="/login">login</a>
        {{/if}}


   
{{{body}}}
    

 {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}
</body>

</html>