<div class="row">
  <div class="col-auto">
    <h2>Welcome, {{username}} !</h2>

  </div>
</div>

<div class="row mt-4">
  <div class="col-md-6">


    <form class="form new-project-form">
      <div class="form-group">
        <label for="project-name">post title</label>
        <input class="form-input" type="text" id="post_title" name="post_title" />
        <label for="project-name">post text</label>
        <input class="form-input" type="text" id="post_text" name="post_text" />
         <label for="project-name">post text</label>
       
      <button type="submit" id = "post" class="btn btn-primary">post</button>

       






