.flex-container {
    display: flex;
    
    margin-left: 20px;
    margin-top: 15px;
    flex-direction: column;
  }
  .booklist{
    font-size: 12px;
    margin-left: 12px;
  }
  h1{
    font-size: 25px;
  }
  .form-control{
    margin-bottom: 12px;
  }
  .homepage-title{
    font-size: 50px;
    margin-left: 150%;
    color:peru;
  }
  .list-inline{
    background-color: black;
  }
  .books{
    background-color: white;
    font-size: 30px;
  }
  .deletebtn{
    color:black;
    background-color:red;
  }